[build]
bin = "./bin/server"
cmd = "mise build"
exclude_dir = ["static", "db"]
exclude_regex = ["_test.go", ".*_templ.go"]
include_ext = ["go", "tmpl", "templ", "sql"]

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
time = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
keep_scroll = true
